// Définition des propriétés du header avec son logo et la flèche sur les pages des menus
.header{
    &__logo{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        img{
            width:50%;
            @media screen and (min-width:768px){
                width:33%;
            }
        }
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            
            &:visited{
                color:black;
            }
        }
    }

    &__arrow{
        position: absolute;
        left: 20px;
        font-size: x-large;
       
        @media screen and (max-width:400px){
        font-size: larger;
        }

        @media screen and (min-width:1024px){
            font-size: xx-large;
        }
    }
    
       
    

}