// Définition du modèle des boutons commander et explorer
.button{
    display: flex;
    justify-content: center;

    &__size{
    color:white;
    font-family: $font_text;
    border-radius: 20px;
    padding:12px;
    background: linear-gradient(to bottom right,$color_secondary, $color_primary);
    box-shadow: 4px 4px 6px #aaa;
    border:none;
    width: 55%;
    transform: scale(1);
    transition: transform 500ms;

        &:hover{
            background: linear-gradient(to bottom right,lighten($color_secondary, 5%),lighten($color_primary, 5%));
            box-shadow: 4px 4px 6px #404040;
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}