.fonctionnement{
    font-family: $font_text;
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;

    &__elements{
        @media screen and (min-width: 1024px) {
        display:flex;
        justify-content: space-between;
        width:100%;
        }
    }
    

    &__title{
        margin-top: $margin-top_h2;       
    }

    &__button{
        display :flex;
        font-weight: bold;
        background-color: $font_grey;
        padding : 20px;
        margin: 15px;
        border-radius: 20px;
        text-decoration:none;
        box-shadow: 4px 4px 6px #aaa;
        @media screen and (min-width: 1024px) {
            width:100%;
            }

        &:hover{
            background-color: #f5edff;
            box-shadow: 4px 4px 6px #404040;
        }

        &:hover .fonctionnement__icone{
            color:$color_primary;
        }

        &:visited{
            color:black;
        }
    }


    &__circle{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -26px;
        background-color: $color_primary;
        color: white;
        font-weight: normal;
        height:17px;
        width:17px;
        border-radius: 8.5px;
        font-size: 11px;
    }

    &__icone{
        width:30px;
        color:grey;
    }

}