// Définition des propriétés du formulaire de recherche (Paris, belleville) par défaut
.localisation{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height: 40px;
    border-top: 3px solid #dbdbdb;

    &__input::placeholder{
        color:#353535;
    }

    i{
        color:#353535;
    }
    
    &__input{
        width:150px;
        text-align: center;
        background-color: #EAEAEA;
        font-family: $font_text, serif;
        font-weight: bold;
        border: 0px solid;
        color:#353535;
        &:focus{
            outline:  none;
        }
    }

}