.menu{

    background-color: $font_grey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    top: -50px;
    font-family: $font_text;
    padding-bottom: 40px;

    &__image{
         img{
          width:100%;
         }
    }
    &__title{
        font-family: $font_title;
    }

    &__heart{
        position: relative;
        right: 15px;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__underline{
        border-bottom: solid $color_tertiary;
    }

    &__choice{
        margin-bottom:40px;
    }

    &__card{
        background-color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-radius: 15px;
        // padding: 10px;
        height:60px; 
        
        &:hover{
            & > .menu__box {
                transform: scaleX(1);
                transform-origin: right;
                animation-name: checkbox;
                animation-duration: 1000ms;
                visibility: visible;
            }

                .fa-check-circle{
                    transform: rotate(360deg);
                }
            }

        &--title, &--price{
            font-weight: bold;
            margin-bottom: 8px;
        }

        &--price{
            margin-right: 10px;
        }

        &--info{
            // line-height: 22px;
            padding: 8px;
        }
    }
    &__box{
        height:100%;
        width:50px;
        background-color: $color_tertiary;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        &--check{
            color:white;
            transition: transform 1000ms; 
        }

    }
    @keyframes checkbox{
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }
}