
/* Déclaration des couleurs primaire, secondaire et tertiaire */
$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color_tertiary:#99E2D0;

/* Déclaration des polices de caractère */
$font_text : 'Roboto';
$font_title : 'Shrikhand';

/* Déclaration des margin pour les h2*/
$margin-left_h2 : 20px;
$margin-top_h2 : 40px;